@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-image: url("pictures/back.jpg");
    background-size: cover; 
    font-family: "Poppins", sans-serif;
    font-weight: 300
}
table {
    margin: 10px;
    margin-top: 30px;
    width: 60%;
    text-align: center;
    transition: 0.4s;
}

table,td,th {
    border-collapse: collapse;
    padding: 10px;
}
th,td {
    background-color: rgba(58, 57, 57, 0.39);
}
table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

td{
    color: rgb(207, 207, 207)
}
.date{
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold
    
}

.navbar-nav {
    width: 100%
}

@media(min-width:568px) {
    .end {
        margin-left: auto
    }
}

@media(max-width:768px) {
    #post {
        width: 100%
    }
}

#clicked {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px
}

#profile {
    background-color: unset
}

#post {
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%
}

#nav-items li a,
#profile {
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: black
}

.comments {
    margin-top: 5%;
    margin-left: 20px;
    float: left;
    padding-left: 50px;
    padding-right: 50px
}

.comment {
    border: 1.5px solid #ecb21fa4;
    background-color: rgba(16, 46, 46, 0.973);
    float:inline-start ;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.comment h4,
.comment span,
.darker h4,
.darker span {
    display: inline
}

.comment p,
.comment span,
.darker p,
.darker span {
    color: rgb(184, 183, 183)
}

h1,
h4 {
    color: white;
    font-weight: bold
}

label {
    color: rgb(212, 208, 208)
}

#align-form {
    margin-top: 20px
}

.form-group p a {
    color: white
}

#checkbx {
    background-color: black
}

#darker img {
    margin-right: 15px;
    position: static
}

.form-group input,
.form-group textarea {
    background-color: black;
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px
}

form {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    border-radius: 5px;
    padding: 20px
}

.winner {
    background-color: rgba(51, 221, 51, 0.5);
    color: rgb(3, 3, 3);
    font-weight: bold;
}
.loser {
    background-color: rgba(209, 77, 25, 0.5);
    color: rgb(3, 3, 3);
    font-weight: bold;
}
.draw {
    background-color: rgba(240, 219, 28, 0.548);
    color: rgb(3, 3, 3);
    font-weight: bold;
}
.logoimg{
    width: 150px;
}

button {
    align-items: center;
    background-color: rgb(46, 45, 45);
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #e9e3e3;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  button:hover {
    box-shadow: #e7e4e4 0 0 0 3px, transparent 0 0 0 0;
  }
p{
    color: white;
}
  .teambtn:hover {
    background-color: #e9e3e3;
    color: rgb(46, 45, 45);
  }
  
  .teambtn {
    box-shadow: #e7e4e4 0 0 0 3px, transparent 0 0 0 0;
    background-color:initial;
  }

.log{
    float: right;
  }

.height {
    height: 100vh
}

.card {
    border: none;
    padding: 20px;
    background-color: #1c1e2134;
    color: #fff
}

.form-login{
    background-color: rgba(32, 32, 32, 0);
    border: 0px
}

.form-input {
    border: 1px solid rgba(16, 46, 46, 0);
    background-color: rgba(16, 46, 46, 0);
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px
}

.form-control {
    height: 50px;
    background-color: #1c1e21b4;
    text-indent: 24px;
    font-size: 15px;
    color: rgb(206, 202, 202);
}

.form-control:focus {
    background-color: #25272a;
    box-shadow: none;
    color: #fff;
    border-color: #1c255e
}

.form-check-label {
    margin-top: 2px;
    font-size: 14px
}

.signup {
    height: 50px;
    font-size: 14px
}

h2{
    color: rgb(224, 219, 219);
}

.newcomment{
    font-size: 15px;
    border-radius: 6px;
}
.commentbtn{
    background-color: #ecb21fa4;
    border-radius: 12px;
    color: rgba(16, 46, 46, 0.973);
}
.commentbtn:hover {
    box-shadow: #ecb21fa4 0 0 0 3px, transparent 0 0 0 0;
    background-color: rgba(16, 46, 46, 0.973);
    color: #ecb21fa4;
  }

.error{
    color: rgb(230, 40, 40);
}
